.datarock-logo {
  color:#313437;
  background-color:#fff;
  text-align:center;
  padding:70px 0;
}

@media (max-width:767px) {
  .datarock-logo {
    padding:50px 0;
  }
}

.datarock-logo i {
  font-size:32px;
  display:inline-block;
  color:#757980;
  margin:0 10px;
  width:60px;
  height:60px;
  border:1px solid #c8ced7;
  text-align:center;
  border-radius:50%;
  line-height:60px;
}

worseDev {
  position:fixed;
  left:50%;
  bottom:20px;
  transform:translate(-50%, -50%);
  margin:0 auto;
}

.center {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  max-width:450px;
}

.textCenter {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  text-align:center;
}

